104履歷篩選 (3).json
{
  "name": "104履歷篩選",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            },
            {
              "mode": "everyHour",
              "minute": 15
            },
            {
              "mode": "everyHour",
              "minute": 30
            },
            {
              "mode": "everyHour",
              "minute": 45
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:104應徵履歷"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2080,
        224
      ],
      "id": "b3ec2468-ac9b-43bf-8cee-93ac2835f09c",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "ITYPojy2VIhkoiOM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\n\nreturn emails.map(item => {\n  const email = item.json;\n\n  let resumeText = '';\n  let resumeLink = '';\n  let resumeId = '';\n  let phone = '';\n  let emailAddress = '';\n  let jobTitle = '';\n\n  if (email.text && email.text.trim()) {\n    resumeText = email.text.trim();\n  } else if (email.html) {\n    resumeText = email.html\n      .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n  }\n\n  const linkMatch = resumeText.match(/https:\\/\\/vip\\.104\\.com\\.tw\\/apply\\/ApplyResume\\?[^\\]\\s]+/);\n  if (linkMatch) {\n    resumeLink = linkMatch[0];\n    const snMatch = resumeLink.match(/sn=(\\d+)/);\n    if (snMatch) resumeId = snMatch[1];\n  }\n\n  const phoneMatch = resumeText.match(/09\\d{2}[-\\s]?\\d{3}[-\\s]?\\d{3}/);\n  if (phoneMatch) phone = phoneMatch[0];\n\n  const emailMatch = resumeText.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/);\n  if (emailMatch) emailAddress = emailMatch[0];\n\n  if (email.subject) {\n    const subjectMatch = email.subject.match(/【(.+?)】/);\n    jobTitle = subjectMatch ? subjectMatch[1] : email.subject;\n  }\n\n  let contactLink = '';\n  if (phone) contactLink = `tel:${phone}`;\n  else if (emailAddress) contactLink = `mailto:${emailAddress}`;\n\n  let taiwanDate = '';\n  if (email.date) {\n    const d = new Date(email.date);\n    d.setHours(d.getHours() + 8);\n    const pad = n => String(n).padStart(2, '0');\n    taiwanDate = `${d.getUTCFullYear()}/${pad(d.getUTCMonth()+1)}/${pad(d.getUTCDate())} ${pad(d.getUTCHours())}:${pad(d.getUTCMinutes())}`;\n  }\n\n  return {\n    json: {\n      subject: email.subject || '',\n      jobTitle,\n      from: email.from || '',\n      date: taiwanDate,\n      resumeText,\n      resumeLink,\n      resumeId,\n      phone,\n      emailAddress,\n      contactLink\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        224
      ],
      "id": "f53ecf71-c6d4-419e-a396-5e768748616e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo",
          "mode": "list",
          "cachedResultName": "招募職缺列表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "職缺名稱",
              "lookupValue": "={{ $node[\"Code in JavaScript3\"].json.jobTitle }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1168,
        176
      ],
      "id": "5cdb69ff-867f-476e-8dac-ff611304623b",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R1kdp8WcfwdwFhiV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== 1. 取得所有輸入資料 =====\nconst allInputs = $input.all();\nif (allInputs.length === 0) return [];\n\nconst resumeData = $('Code in JavaScript3').first().json || {};\nconst resumeText = resumeData.resumeText || '';\nconst extractedJobTitle = resumeData.jobTitle || '未指定職缺';\n\n// ===== 2. 職缺比對容錯邏輯 =====\nlet jobRow = {};\nconst sheetNode = $(\"Get row(s) in sheet1\");\nconst sheetResults = sheetNode.all();\n\nif (sheetResults.length > 0 && sheetResults[0].json && sheetResults[0].json['職缺類型']) {\n  jobRow = sheetResults[0].json;\n} else {\n  jobRow = {\n    \"職缺內容\": `應徵者投遞職位為：${extractedJobTitle}。請依據一般美妝/製造產業之通用營運、行政與品質規範進行適任性評估。`,\n    \"職缺類型\": \"營運\"\n  };\n}\n\nconst jobContent = jobRow['職缺內容'];\nconst jobType = jobRow['職缺類型'];\n// 讀取評分補充欄位（若存在）\nconst scoringNote = jobRow['評分補充'] ? `\\n【本職缺特別評分重點】\\n${jobRow['評分補充']}` : '';\n\n// ===== 3. 設定職缺權重 =====\nconst weightMap = {\n  '業務': '產業背景25%、技能符合度20%、經驗年資20%、穩定度20%、文化適配度15%',\n  '行銷': '產業背景25%、文化適配度20%、技能符合度20%、經驗年資20%、穩定度15%',\n  '營運': '技能符合度30%、經驗年資25%、穩定度20%、產業背景15%、文化適配度10%'\n};\nconst weights = weightMap[jobType] || weightMap['營運'];\n\n// ===== 4. 建構 Prompt =====\nconst prompt = `你是專業HR招募顧問，用繁體中文分析，執行「經歷交叉查證」（年資重疊、職稱跳躍、技能矛盾）。\n\n【職缺】${jobType}｜${jobContent}${scoringNote}\n\n【履歷】\n${resumeText}\n\n【評分維度】\n1.技能符合度：職缺硬技能與專業知識\n2.經驗年資：核心職位相關經歷深度\n3.產業背景：化妝品/美妝/FMCG/製造業經驗\n4.穩定度：平均每份工作<2年或有不明斷層應扣分\n5.文化適配度：是否符合溫和/專業/細節/友善溝通\n\n【計算規則】\n權重：${weights}\n人才分類：即戰力≥80｜潛力型65-79.99且任一維度≥75｜不建議<65或穩定度<50\n面試建議：✅強烈建議≥85｜🟡可考慮75-84.99｜❌暫不推薦<75\n\n只回傳JSON：\n{\"name\":\"姓名\",\"age\":\"年齡數字或null\",\"career_stage\":\"初階/中階/資深/主管\",\"position\":\"${extractedJobTitle}\",\"job_type\":\"${jobType}\",\"education\":\"最高學歷\",\"experience_years\":\"年資\",\"score_skill\":0,\"score_experience\":0,\"score_industry\":0,\"score_stability\":0,\"score_culture\":0,\"score\":0,\"talent_type\":\"即戰力/潛力型/不建議\",\"interview_suggestion\":\"✅強烈建議/🟡可考慮/❌暫不推薦\",\"highlight_tags\":\"#標籤1 #標籤2 #標籤3\",\"core_skills\":\"核心技能摘要\",\"score_reason\":\"評分理由與加權計算\",\"consistency_check\":\"交叉查證結果或「經查核邏輯正常」\",\"strengths\":\"主要優勢50字內\",\"weaknesses\":\"主要不足50字內\",\"interview_q1\":\"\",\"interview_q2\":\"\",\"interview_q3\":\"\",\"interview_q4\":\"\",\"interview_q5\":\"\"}`;\n\n// ===== 5. 輸出給 HTTP Request 節點 =====\nreturn [{\n  json: {\n    requestBody: JSON.stringify({\n      contents: [{ parts: [{ text: prompt }] }],\n      generationConfig: {\n        temperature: 0.2,\n        response_mime_type: \"application/json\"\n      }\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        176
      ],
      "id": "e544c5a8-45ea-477e-a3bf-e72d0fd6f1a2",
      "name": "Code in JavaScript4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDFxphn8HZ1XEtj_Wx_f82wMucddfI9O-A",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\"Code in JavaScript4\"].json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        160
      ],
      "id": "8dd00422-3ad1-4263-b557-0c242885a1c4",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates[0].content.parts[0].text;\nconst clean = text.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(clean);\n\n// ✅ 改用 .first() 取代 .item，避免 Multiple matches 錯誤\nconst original = $('Code in JavaScript3').first().json;\n\nreturn [{\n  json: {\n    ...parsed,\n    resumeLink: original.resumeLink,\n    phone: original.phone,\n    emailAddress: original.emailAddress,\n    contactLink: original.contactLink\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "1c04eedb-0261-4c46-9b9c-9f35bf070f0d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo",
          "mode": "list",
          "cachedResultName": "招募職缺列表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 317093211,
          "mode": "list",
          "cachedResultName": "履歷分析結果",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit#gid=317093211"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "姓名": "={{ $json.name }}",
            "年齡": "={{ $json.age }}",
            "職缺": "={{ $json.position }}",
            "職缺類型": "={{ $json.job_type }}",
            "學歷": "={{ $json.education }}",
            "年資": "={{ $json.experience_years }}",
            "技能分": "={{ $json.score_skill }}",
            "經驗分": "={{ $json.score_experience }}",
            "產業分": "={{ $json.score_industry }}",
            "穩定度分": "={{ $json.score_stability }}",
            "文化適配分": "={{ $json.score_culture }}",
            "評分": "={{ $json.score }}",
            "人才類型": "={{ $json.talent_type }}",
            "面試建議": "={{ $json.interview_suggestion }}",
            "亮點標籤": "={{ $json.highlight_tags }}",
            "核心技能": "={{ $json.core_skills }}",
            "評分說明": "={{ $json.score_reason }}",
            "優勢": "={{ $json.strengths }}",
            "不足": "={{ $json.weaknesses }}",
            "面試Q1": "={{ $json.interview_q1 }}",
            "面試Q2": "={{ $json.interview_q2 }}",
            "面試Q3": "={{ $json.interview_q3 }}",
            "面試Q4": "={{ $json.interview_q4 }}",
            "面試Q5": "={{ $json.interview_q5 }}",
            "電話": "={{ $json.phone }}",
            "Email": "={{ $json.emailAddress }}",
            "履歷連結": "={{ $json.resumeLink }}",
            "經歷查證": "={{ $json.consistency_check }}",
            "收件時間": "={{ $('Code in JavaScript3').first().json.date }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "收件時間",
              "displayName": "收件時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "姓名",
              "displayName": "姓名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "年齡",
              "displayName": "年齡",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "職缺",
              "displayName": "職缺",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "學歷",
              "displayName": "學歷",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "年資",
              "displayName": "年資",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "核心技能",
              "displayName": "核心技能",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評分",
              "displayName": "評分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評分說明",
              "displayName": "評分說明",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "優勢",
              "displayName": "優勢",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "不足",
              "displayName": "不足",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q1",
              "displayName": "面試Q1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q2",
              "displayName": "面試Q2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q3",
              "displayName": "面試Q3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q4",
              "displayName": "面試Q4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q5",
              "displayName": "面試Q5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "履歷連結",
              "displayName": "履歷連結",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "電話",
              "displayName": "電話",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "主管審核",
              "displayName": "主管審核",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "審核備註",
              "displayName": "審核備註",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "面試總輪數",
              "displayName": "面試總輪數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "目前輪次",
              "displayName": "目前輪次",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "面試狀態",
              "displayName": "面試狀態",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "面試日期",
              "displayName": "面試日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "面試地點/方式",
              "displayName": "面試地點/方式",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "最終結果",
              "displayName": "最終結果",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "未錄取原因",
              "displayName": "未錄取原因",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "結案日期",
              "displayName": "結案日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "備註",
              "displayName": "備註",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "職缺類型",
              "displayName": "職缺類型",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "技能分",
              "displayName": "技能分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "經驗分",
              "displayName": "經驗分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "產業分",
              "displayName": "產業分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "穩定度分",
              "displayName": "穩定度分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "文化適配分",
              "displayName": "文化適配分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "人才類型",
              "displayName": "人才類型",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試建議",
              "displayName": "面試建議",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "經歷查證",
              "displayName": "經歷查證",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "亮點標籤",
              "displayName": "亮點標籤",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -336,
        160
      ],
      "id": "10d2dcf2-fa04-4928-84ed-dddda39696b1",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wOHXn7CV1nCHu5i0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "522a85ce-d64d-4332-a766-fb186f1716a3",
              "leftValue": "={{ $json.score }}",
              "rightValue": 85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        160
      ],
      "id": "2fa3f5ff-28d5-467c-9b0a-d2bb1ff4b374",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "8419955877",
        "text": "=🔥 高分候選人｜{{ $json.talent_type }}\n\n姓名：{{ $json.name }}{{ $json.age ? '（' + $json.age + '歲）' : '' }}\n職缺：{{ $json.position }}（{{ $json.job_type }}）\n加權總分：{{ $json.score }} ｜ {{ $json.interview_suggestion }}\n\n📊 五維評分：\n技能 {{ $json.score_skill }} ｜ 經驗 {{ $json.score_experience }} ｜ 產業 {{ $json.score_industry }} ｜ 穩定度 {{ $json.score_stability }} ｜ 文化 {{ $json.score_culture }}\n\n🏷 {{ $json.highlight_tags }}\n\n📌 核心技能：{{ $json.core_skills }}\n👍 優勢：{{ $json.strengths }}\n⚠️ 不足：{{ $json.weaknesses }}\n\n📞 {{ $json.phone }}\n📧 {{ $json.emailAddress }}\n🔗 {{ $json.resumeLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "deb72b9f-b624-4cc3-a421-f70f6923cd62",
      "name": "Send a text message1",
      "webhookId": "22af1822-47af-470e-ab9e-af985bc9df93",
      "credentials": {
        "telegramApi": {
          "id": "Rw4PqAFcnDst2dqN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49213dd2-6c58-4903-a76b-6feeae724eca",
              "leftValue": "{{ $json.from }}",
              "rightValue": "jobbank@104.com.tw",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1712,
        224
      ],
      "id": "f941e59b-1714-437c-b49d-d08abbdcd7e6",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo",
          "mode": "list",
          "cachedResultName": "招募職缺列表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 317093211,
          "mode": "list",
          "cachedResultName": "履歷分析結果",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit#gid=317093211"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "姓名",
              "lookupValue": "={{ $node[\"Code in JavaScript3\"].json.subject.match(/】\\s*(.+?)\\(/) ? $node[\"Code in JavaScript3\"].json.subject.match(/】\\s*(.+?)\\(/)[1].trim() : $node[\"Code in JavaScript3\"].json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1488,
        336
      ],
      "id": "9007b2ac-6e94-4c41-ace0-6dee8e754a2c",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wOHXn7CV1nCHu5i0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "659256f1-8514-4bad-8006-648ed139dc07",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1392,
        704
      ],
      "id": "e5b9824b-e7c1-4165-9319-d60c794f749e",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo",
          "mode": "list",
          "cachedResultName": "招募職缺列表",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 317093211,
          "mode": "list",
          "cachedResultName": "履歷分析結果",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzV-Z4l9KvyFpIq8RTsmwL6x9HxsN5Ny7js9A8CAoxo/edit#gid=317093211"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "主管審核": "主管已回覆",
            "row_number": "={{ $node[\"Get row(s) in sheet\"].json[\"row_number\"] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "收件時間",
              "displayName": "收件時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "姓名",
              "displayName": "姓名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "年齡",
              "displayName": "年齡",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "職缺",
              "displayName": "職缺",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "學歷",
              "displayName": "學歷",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "年資",
              "displayName": "年資",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "核心技能",
              "displayName": "核心技能",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評分",
              "displayName": "評分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "評分說明",
              "displayName": "評分說明",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "優勢",
              "displayName": "優勢",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "不足",
              "displayName": "不足",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q1",
              "displayName": "面試Q1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q2",
              "displayName": "面試Q2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q3",
              "displayName": "面試Q3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q4",
              "displayName": "面試Q4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試Q5",
              "displayName": "面試Q5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "履歷連結",
              "displayName": "履歷連結",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "電話",
              "displayName": "電話",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "主管審核",
              "displayName": "主管審核",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "審核備註",
              "displayName": "審核備註",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試總輪數",
              "displayName": "面試總輪數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "目前輪次",
              "displayName": "目前輪次",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試狀態",
              "displayName": "面試狀態",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試日期",
              "displayName": "面試日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試地點/方式",
              "displayName": "面試地點/方式",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "最終結果",
              "displayName": "最終結果",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "未錄取原因",
              "displayName": "未錄取原因",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "結案日期",
              "displayName": "結案日期",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "備註",
              "displayName": "備註",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "職缺類型",
              "displayName": "職缺類型",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "技能分",
              "displayName": "技能分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "經驗分",
              "displayName": "經驗分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "產業分",
              "displayName": "產業分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "穩定度分",
              "displayName": "穩定度分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "文化適配分",
              "displayName": "文化適配分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "人才類型",
              "displayName": "人才類型",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "面試建議",
              "displayName": "面試建議",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "經歷查證",
              "displayName": "經歷查證",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "亮點標籤",
              "displayName": "亮點標籤",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1056,
        544
      ],
      "id": "33128722-caed-4115-a5ba-742eed984dcd",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wOHXn7CV1nCHu5i0",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8419955877",
        "text": "=主管已針對{{ $('Get row(s) in sheet').item.json['職缺'] }} - {{ $('Get row(s) in sheet').item.json['姓名'] }} 回覆面試意願，已更新至表格。",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -784,
        544
      ],
      "id": "9c9951a7-e6fe-4eb9-986a-6fa3c5a3e6d2",
      "name": "Send a text message",
      "webhookId": "47375bd9-0a13-472f-af74-7ff374722462",
      "credentials": {
        "telegramApi": {
          "id": "Rw4PqAFcnDst2dqN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "16ec47fc-0804-4b5d-81ca-0348ba1dadcc",
  "meta": {
    "instanceId": "c787050b5a57e4e39906f7d168175815e740236237a4dfdbfcdd188598391454"
  },
  "id": "eAt0bpQPH4duVC5h",
  "tags": []
}